extends base

block content
    h1 MY MEETINGS
        section.main
            .card-container
                each meeting in meetings
                    .card.signingMeetingCard
                        .card__details
                            h4.card__sub-heading= `Info: ${meeting.info}`
                            h4.card__sub-heading= `Place: ${meeting.place}`
                            h4.card__sub-heading= `Limit: ${meeting.limit}`
                            h4.card__sub-heading= `Date: ${meeting.date}`
                        .card__footer
                            - let url
                            - if(user.role === 'student')
                                a.btn.btn--green.btn--small(href='#') You are signed for this
                            - else
                                a.btn.btn--green.btn--small(href=`/me/meetings/${meeting.id}`) Check your students